@import "../../../variables.scss";

.navbar {
    background-color: #fff;
}

.navbar-logo {
    height: 32px;
    margin-top: -8px;
    margin-right: 8px;
}

a {
    color: #000;
    font-family: $font-roboto;
    font-weight: bold;
}

a.navbar-brand {
    font-family: $font-palanquin;
}


@media (max-width: 768px) {
    a.navbar-brand {
        font-size: 1em;
    }
}