<div class="container" id="contentContainer">
    
    <div class="row">
        <div class="col">
            <div class="card">
                <h1 id="header_main">Cornerstone</h1>
                <p>This is an example application based on the Cornerstone boilerplate code. The front-end is Angular + Bootstrap, and the back-end is Angular CLI + Express.</p>
                <p>I've put together a reusable Vagrant VM setup that can be modified to build any type of full-stack project.</p>
                <p>By default, this boilerplate comes with a Strongloop/Loopback Node back-end (see cornerstone-backend)</p>
            </div>
        </div>
    </div>
</div>